.parchment-border {
    position: relative;
    background-color: transparent;
    z-index: 1;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    border: 6px solid #183768;
}

.parchment-border::before {
    content: "";
    background-color: transparent;
    z-index: -1;
    pointer-events: none;
    border-radius: 0;
}

.parchment-background {
    background-color: #f7f7ff;
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 4px;

}

/* Content container to ensure proper positioning */
.parchment-content {
    position: relative;
    z-index: 1;
    padding: 20px;
}