.abilities-input-row {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    align-items: end;
}

.ability-modifier-text {
    color: gold;
    font-size: small;
    width: 2em;
    padding: 0.7em;
}

.d20-img-link {
    padding: 0 1em;
}

.d20-img-link img {
    width: 1.5em;
}