h1 {
    font-family: 'Lugrasimo', cursive;
    font-size: 6em;
    font-style: normal;
    margin-bottom: 0;
}

h2 {
    font-family: 'Macondo', serif;
    font-weight: normal;
    font-style: italic;
    margin-top: 0;
}