.modal-content {
    text-align: center;
}

#subrace-form-group {
    margin-left: 4em;
}

/* .die-img {
    margin: 5px;
    padding: 1px;
    background-color: red;
    color: white;
    font-size: 0.6em;
} */