.modal-content {
    text-align: center;
}

<<<<<<< HEAD
/* .die-img {
=======
.die-img {
>>>>>>> 6286bce (Add ModalContent component with some basic create character form elements)
    margin: 5px;
    padding: 1px;
    background-color: red;
    color: white;
    font-size: 0.6em;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 6286bce (Add ModalContent component with some basic create character form elements)
