h1 {
    font-family: 'Lugrasimo', cursive;
    font-size: 6em;
    font-style: normal;
    margin: 0;
}

h2 {
    font-family: 'Macondo', serif;
    font-weight: normal;
    font-style: italic;
}

#logo-img img {
    display: inline-block;
    width: 10em;
    margin: 0;
}